<mat-card 
  class="card" 
  routerLink="/infoLibro" 
  [queryParams]="{id: libro.id}">
  <mat-grid-list cols="34" rowHeight="1em">
    <mat-grid-tile [colspan]="14" [rowspan]="8">
      <img 
      mat-card-image 
      [src]="libro.imageUrl"
      alt="No foto, ops :(">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="16" [rowspan]="5" class="titolo capitalize">
      {{libro.titolo  | cutText: 32}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="16" [rowspan]="1" class="prezzo">
      {{libro.prezzo}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="30" [rowspan]="1" class="isbn">
      ISBN: {{libro.isbn}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>