.card {
    width: 17em;
    height: 11em; 
    float:left;
    padding: 0!important; 
    margin: 0.5em; 
  }

  img {
    width: 100%;
    height: 100%;
    margin-top: 0!important;
  }

  .titolo, .prezzo, .isbn {
    margin-left: 1em;
    text-align: center;
  }

  .titolo {
    margin-top: 0.5em;
  }

  .prezzo {
    margin-top: 1.5em;
  }

  .isbn {
    margin-top: 0.5em; 
  }