<mat-card class="card">
  <div style="display: block">
    <img 
    mat-card-image 
    src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
    alt="Photo of a Shiba Inu" 
    class="headerCard">
    <p>
      <b>Nuovi Orizzonti</b>
      <br><br>
      13.50 $
    </p>
  </div>
  <p>
    ISBN: 1234567891234
  </p>
  
<!--
  <mat-card-header class="headerCard">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
-->