<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="card">
        <div class="contenuto">
            <h2>Login</h2>
            <mat-form-field class="input">
                <input matInput placeholder="Mail" formControlName="mail">
            </mat-form-field>
            <mat-form-field class="input">
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <p *ngIf="error">{{error.message}}</p>
            <button mat-raised-button color="primary" routerLink="/" type="button">Annulla</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.value.mail && loginForm.value.password">Entra</button>
        </div>
    </mat-card>
</form>
<!-- Accedendo con google crea anche l'utente se non esiste, ma non nel database
<button mat-raised-button color="primary" type="button" (click)="google()">Accedi con Google</button>
-->
