<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="card">
        <div>
            <h2>Login</h2>
            <mat-form-field class="input">
                <input matInput placeholder="Mail" formControlName="mail">
            </mat-form-field>
            <mat-form-field class="input">
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <p *ngIf="error">{{error.message}}</p>
            <div class="btn">
                <button mat-raised-button color="primary" routerLink="/" type="button">Annulla</button>
                <button mat-raised-button color="primary" type="submit">Entra</button>
            </div>
        </div>
    </mat-card>
</form>