.input{
    display: block;
}

p {
    color: red;
    font-size: 0.8em;
}

.btn {
    position: relative; 
    left: 8em;
}

button {
    padding: 0.5em;
    margin-right: 0.5em; 
}

.card {
    width: 34%;
    height: auto; 
    margin: 10% 33% 0% 33%; 
    padding: 1em; 
    border: 1px solid #3f51b5;
}