<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$|async)}" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
      <!-- right menu link -->
      <a mat-list-item routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
      <a mat-list-item routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="catalogo">Catalogo</a>
      <a mat-list-item *ngIf="userService.utente.mail" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="preferiti">Preferiti</a>
      <a mat-list-item *ngIf="!userService.utente.mail" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="login">Login</a>
      <a mat-list-item *ngIf="!userService.utente.mail" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="registrazione">Registrazione</a>
      <a mat-list-item *ngIf="userService.utente.mail" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="account">Account</a>
      <a mat-list-item *ngIf="userService.utente.mail" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- menu btn -->
      <button #menuButton type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SchoolBook</span>
      <div *ngIf="!(isHandset$ | async)" class="menu-bar">
        <!-- link btn -->
        <button mat-button class="menu-link" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</button>
        <button mat-button class="menu-link" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="catalogo">Catalogo</button>
        <button *ngIf="userService.utente.mail" mat-button class="menu-link" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="preferiti">Preferiti</button>
 <!--       <button *ngIf="userService.utente.mail" mat-button class="menu-link" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" routerLink="account#mieiLibri">Miei Libri</button>
 -->        <!-- login and register btn -->
        <div *ngIf="!userService.utente.mail" class="position-right">
          <button mat-button class="menu-link2" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" matTooltip="Login"
            routerLink="login">
            <mat-icon>person</mat-icon>
          </button>
          <button mat-button class="menu-link2" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" matTooltip="Registrazione"
            routerLink="registrazione">
            <mat-icon>person_add</mat-icon>
          </button>
        </div>
        <div *ngIf="userService.utente.mail" class="position-right">
          <p>Ciao {{ userService.utente.nome }}</p>
          <button mat-button class="menu-link2" routerLinkActive="rottaActive" [routerLinkActiveOptions]="{exact: true}" [matTooltip]="userService.utente.nome"
            routerLink="account">
            <mat-icon>person</mat-icon>
          </button>
          <button mat-button class="menu-link2" matTooltip="Logout" (click)="logout()">
            <mat-icon>person_outline</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <div class="space">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>