<div style="height: 100%;" [ngClass]="{'immagine-sfondo': !(isHandset$|async)}" *ngIf="!confrontaPercorso()">
  <div class="positionDiv" *ngIf="!(isHandset$|async)">
    <h1 style="display: inline">SchoolBook</h1>
      <button mat-fab color="primary" style="left:63%" routerLink="login">
        <mat-icon>input</mat-icon>
      </button>
      <button mat-fab color="primary" style="left:65%" routerLink="registrazione">
        <mat-icon>person_add</mat-icon>
      </button>
  </div>
  <main-menu>
    <router-outlet></router-outlet>
  </main-menu>
</div>
<div *ngIf="confrontaPercorso()">
  <router-outlet></router-outlet>
</div>
