<h2>Preferiti</h2>
<mat-divider class="spaziatore"></mat-divider>
<div style="text-align: center">
    <button class="paginator" (click)="cambiaPagina(nPage)" mat-mini-fab *ngFor="let nPage of nPages" [ngClass]="{'selezionato' : (nPage == paginaCorrente), 'disabilitato' : (libro && (nPage-1) > (libro.length/numRisultatiDaMostrare))}">{{ nPage }}</button>
</div>
<!-- Spinner caricamento -->
<mat-spinner *ngIf="stoCercandoLibri"></mat-spinner>
<!-- Se non ci sono libri -->
<!--TODO QUESTO CODICE NON FUNZIONA perchè ci sono i preferiti che non corrispondono (dopo che sono stati cancellati)
<p *ngIf="libro.length==0 && !stoCercandoLibri">Nessun libro!</p>
-->
<p *ngIf="libro && libro.length && (!libroDisplay || !libroDisplay.length)">Non ci sono altri libri!</p>
<!-- Se ci sono libri -->
<app-libro *ngFor="let book of libroDisplay" [libro]="book"></app-libro>