<h2>Ricerca</h2>
<mat-divider class="spaziatore"></mat-divider>
<form [formGroup]="searchForm" (ngSubmit)="submitRicerca()">
    <mat-form-field class="search">
        <input matInput placeholder="Inserise codice ISBN o un titolo" formControlName="parametroRicerca">
    </mat-form-field>
    <button mat-fab color="primary" [disabled]="!searchForm.valid">
        <mat-icon>search</mat-icon>
    </button>
</form>
<br>
<div>
    <app-libro *ngFor="let book of allBooks" [libro]="book"></app-libro>
</div>
<p *ngIf="nessunLibroTrovato">Nessun libro trovato!</p>