<h2>Ricerca</h2>
<mat-divider class="spaziatore"></mat-divider>
<form [formGroup]="searchForm" (ngSubmit)="submitRicerca()">
    <mat-form-field class="search">
        <input matInput placeholder="Inserisci codice ISBN o titolo" formControlName="parametroRicerca">
    </mat-form-field>
    <button mat-fab color="primary" [disabled]="!searchForm.valid || ricercaInCorso">
        <mat-icon>search</mat-icon>
    </button>
</form>
<p>Attenzione! Per la ricerca inserire codice ISBN o titolo per intero.</p>
<div *ngIf="!ricercaInCorso && (allBooks && allBooks.length)">
    <div style="text-align: center">
        <button class="paginator" (click)="cambiaPagina(nPage)" mat-mini-fab *ngFor="let nPage of nPages" [ngClass]="{'selezionato' : (nPage == paginaCorrente), 'disabilitato' : (allBooks && (nPage-1) > (allBooks.length/numRisultatiDaMostrare))}">{{ nPage }}</button>
    </div>
    <p *ngIf="allBooks && allBooks.length && (!allBooksDisplay || !allBooksDisplay.length)">Non ci sono altri libri!</p>
    <app-libro *ngFor="let book of allBooksDisplay" [libro]="book"></app-libro>
</div>
<mat-spinner *ngIf="ricercaInCorso"></mat-spinner>
<p *ngIf="nessunLibroTrovato">Nessun libro trovato!</p>