.esterno {
    width: 100%;
    height: 25em;
    margin-bottom: 1em;
}

.sinistro {
    width: 50%; 
    height: 25em; 
    float: left;
    text-align: center;
}

.destro {
    width: 50%; 
    height: 25em; 
    float: right;
    text-align: center;
}

img {
    height: 100%;
    width: 70%;
}

.divisore {
    width: 50%;
    margin: auto!important;
}

.desc {
    margin: 2.58em 0.86em 0.86em 0.86em!important;
}

p {
    margin-left: 2em!important;
    margin-right: 2em!important;
}

.btn {
    float: right;
    margin-top: 1em;
}

button {
    padding: 0.5em;
    margin-right: 0.5em; 
}