<h2>Info Libro</h2>
<mat-divider class="spaziatore"></mat-divider>
<div class="sinistro">
  <img [src]="libro.imageUrl" alt="Photo of a Shiba Inu">
</div>
<div class="destro"> 
  <br>
  <h3>Libro</h3>
  <p>Titolo: {{libro.titolo}}</p>
  <p>ISBN: {{libro.isbn}}</p>
  <p>Prezzo: {{libro.prezzo}} €</p>
  <mat-divider class="divisore"></mat-divider>
  <h3>Proprietario</h3>
  <p>Nome: {{autore.nome}}</p>
  <p>Cognome: {{autore.cognome}}</p>
  <p>Mail: {{autore.mail}}</p>
  <p>Telefono: {{autore.telefono}}</p>
  <p>Località o Scuola: {{autore.scuola}}</p>
</div>
<h3 class="desc">Descrizione</h3>
<p>{{libro.descrizione}}</p>
<div *ngIf="isProprietario == false" class="btn">
  <button class="btn2" mat-raised-button color="primary" [routerLink]="['/contatti',idLibro]" [disabled]="!autore.uid">Contatta Proprietario</button>
  <button class="btn2" mat-raised-button color="primary">Aggiungi ai Preferiti</button>
  <!-- (click)="" aggiunge ai preferiti -->
</div>
<div *ngIf="isProprietario == true" class="btn">
  <button class="btn2" mat-raised-button color="primary" [routerLink]="['/new-book']" [queryParams]="{'id_libro' : idLibro}">Modifica</button>
  <button class="btn2" mat-raised-button color="primary" (click)="eliminaLibro()">Elimina</button>
  <!-- (click)="" elimina -->
</div>