/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
    height: 100%;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0;
}
.immagine-sfondo{
    padding: 10% 5% 5% 5%;
    background-color: lightgreen;
    height: 100%;
}
.hidden{
    display: none!important;
}
.menu-link {
    padding: 1em 4em!important;
}

div.menu-bar{
    width: 100%;
    padding: auto;
}