/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
    height: auto;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0;
}
.immagine-sfondo{
    padding: 3.5% 5% 5% 5%;
    background-color: lightgreen;
}
.hidden{
    display: none!important;
}
.menu-link {
    padding: 1em 4em!important;
}

div.menu-bar{
    width: 100%;
    align-content: center!important;
}
button.rottaActive{
    border-bottom: 2px solid red!important;
}
a.rottaActive{
    color:red!important;
}