@media(max-width: 687px){
    .separatore{
        height: 1170px;
    }
}
@media(min-width: 688px) and (max-width:975px){
        .separatore{
            height: 600px;
        }
}
@media(min-width: 976px){
    .separatore{
        height: 400px;
    }
}