@media(max-width: 687px) {
    .separatore{
        height: 1170px;
    }
}
@media(min-width: 688px) and (max-width:975px) {
        .separatore{
            height: 600px;
        }
}
@media(min-width: 976px) {
    .separatore{
        height: 400px;
    }
}

div {
    text-align: center;
}

button {
    border: 1px solid #3f51b5;
    margin: 0.5em;
    font-weight: bold;
    background-color: white!important;
    color: #3f51b5!important;
}

.button:hover {
    background-color: #3f51b5!important;
    color: white!important;
}