<h2>Aggiungi Libro</h2>
<mat-divider class="spaziatore"></mat-divider>
<form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
  <div class="sinistro sinistro2">
    <div style="background-color: green; width: 100%; height: 100%">INSERIMENTO IMMAGINE</div>
  </div>
  <div class="destro destro2">
    <br>
    <h3>Libro</h3>
    <p>Inserisci le informazioni del libro.</p>
    <mat-form-field class="width">
      <input matInput placeholder="Titolo:" formControlName="titolo">
    </mat-form-field>
    <mat-form-field class="width">
      <input matInput placeholder="ISBN:" formControlName="isbn">
    </mat-form-field>
    <mat-form-field class="width">
      <input matInput placeholder="Prezzo:" formControlName="prezzo">
    </mat-form-field>
  </div>
  <mat-form-field class="width">
    <textarea matInput placeholder="Descrizione:" formControlName="descrizione"></textarea>
  </mat-form-field>
  <div class="btn">
    <button mat-raised-button color="primary" (click)="annullaForm()" type="button">Annulla</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid">Salva</button>
    <!-- (click)="" aggiunge ai preferiti -->
  </div>
</form>