.center {
    text-align: center;
}

.desc {
    margin: 2.58em 0.86em 0.86em 0.86em!important;
}

.checkbox {
    margin-right: 1em;
}

.btn {
    float: right;
    margin-top: 2em;
}

button {
    padding: 0.5em;
    margin-right: 0.5em; 
}

.full-width {
    width: 100%;
  }

.block {
    display: block;
}

p {
    font-size: 0.8em
}