<h2>Aggiungi Libro</h2>
<mat-divider class="spaziatore"></mat-divider>
<form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
  <mat-grid-list cols="2" rowHeight="15em">
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="center">
      <div style="background-color: green; width: 100%; height: 100%">INSERIMENTO IMMAGINE</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" class="center">
      <div>
        <h3>Libro</h3>
        <p>Inserisci le informazioni del libro.</p>
        <mat-form-field class="block">
          <input matInput placeholder="Titolo:" formControlName="titolo">
        </mat-form-field>
        <mat-form-field class="block">
          <input matInput placeholder="ISBN:" formControlName="isbn">
        </mat-form-field>
        <mat-form-field class="block">
          <input matInput placeholder="Prezzo:" formControlName="prezzo">
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-form-field class="full-width desc">
    <input matInput placeholder="Descrizione:" formControlName="descrizione">
  </mat-form-field>
  <div class="btn">
    <button mat-raised-button color="primary" (click)="annullaForm()" type="button">Annulla</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid">Salva</button>
    <!-- (click)="" aggiunge ai preferiti -->
  </div>
</form>