.center {
    text-align: center;
}

.block {
    display: block;
}

.width {
    width: 70%;
}

.btn {
    float: right;
    margin-top: 1em;
}

button {
    padding: 0.5em;
    margin-right: 0.5em; 
}

p {
    font-size: 0.8em
}