<h2>Account</h2>
<mat-divider class="spaziatore"></mat-divider>
<div *ngIf="mode==='see'">
  <div>
    <p class="capitalize">Nome: {{userService.utente.nome}}</p>
    <p class="capitalize">Cognome: {{userService.utente.cognome}}</p>
    <p>Mail: {{userService.utente.mail}}</p>
    <p>Telefono: {{userService.utente.telefono}}</p>
    <p class="capitalize">Località o Scuola: {{userService.utente.scuola}}</p>
  </div>
  <div class="btn">
    <button mat-raised-button color="primary" (click)="eliminaAccount()">Elimina Account</button>
    <button mat-raised-button color="primary" (click)="modificaDati()">Modifica Dati</button>
  </div>
</div>
<div *ngIf="mode==='edit'">
  <form [formGroup]="accountForm" (ngSubmit)="submitAccount()">
    <div class="inserimento">
      <mat-form-field class="inputAccount">
        <input matInput placeholder="Nome: " formControlName="nome">
      </mat-form-field>
      <mat-form-field class="inputAccount">
        <input matInput placeholder="Cognome: " formControlName="cognome">
      </mat-form-field>
      <mat-form-field class="inputAccount">
        <input matInput placeholder="Telefono: " formControlName="telefono">
      </mat-form-field>
      <mat-form-field class="inputAccount">
        <input matInput placeholder="Località o Scuola: " formControlName="scuola">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="modificaPassword()">Modifica Password</button>
    <div class="btn">
      <button mat-raised-button color="primary" (click)="mode='see'" type="reset" [disabled]="stoModificandoUtente">Annulla modifiche</button>
      <button mat-raised-button color="primary" [disabled]="!accountForm.valid || stoModificandoUtente" type="submit">Conferma modifiche</button>
    </div>
  </form>
</div>
<div class="secondaParte">
<h3>I miei Libri</h3>
<mat-divider class="spaziatore"></mat-divider>
<br>
<div class="inline">Clicca su un libro per modificare.</div>
<div class="btn inline">
  <button mat-raised-button color="primary" routerLink="/new-book">Aggiungi Libro</button>
</div>
<br>
<br>
<br>
</div>
<app-libro *ngFor="let book of myBooks" [libro]="book"></app-libro>