<h2>Account</h2>
<mat-divider class="spaziatore"></mat-divider>
<div *ngIf="mode==='see'">
  <div>
    <p>Nome: {{userService.utente.nome}}</p>
    <p>Cognome: {{userService.utente.cognome}}</p>
    <p>Mail: {{userService.utente.mail}}</p>
    <p>Telefono: {{userService.utente.telefono}}</p>
    <p>Località o Scuola: {{userService.utente.scuola}}</p>
    <p>Forse Password</p>
  </div>
  <div class="btn">
    <button mat-raised-button color="primary">Elimina Account</button>
    <button mat-raised-button color="primary" (click)="mode='edit'">Modifica Dati</button>
  </div>
</div>
<div *ngIf="mode==='edit'">
  <form [formGroup]="accountForm" (ngSubmit)="submitAccount()">
    <mat-form-field class="inputAccount">
      <input matInput placeholder="Nome: " formControlName="nome">
    </mat-form-field>
    <mat-form-field class="inputAccount">
      <input matInput placeholder="Cognome: " formControlName="cognome">
    </mat-form-field>
    <mat-form-field class="inputAccount">
      <input matInput placeholder="Mail: " formControlName="mail">
    </mat-form-field>
    <mat-form-field class="inputAccount">
      <input matInput placeholder="Telefono: " formControlName="telefono">
    </mat-form-field>
    <mat-form-field class="inputAccount">
      <input matInput placeholder="Località o Scuola: " formControlName="scuola">
    </mat-form-field>
    <div class="btn">
      <button mat-raised-button color="primary" (click)="mode='see'" type="reset">Annulla modifiche</button>
      <button mat-raised-button color="primary" [disabled]="!accountForm.valid" type="submit">Conferma modifiche</button>
    </div>
  </form>
</div>

<br>
<br>
<br>
<br>
<h3>I miei Libri</h3>
<mat-divider class="spaziatore"></mat-divider>
<br>
<!--
<div class="inline">Clicca su un libro per modificare.</div>
<div class="btn" class="inline; btn">
  <button mat-raised-button color="primary">Aggiungi Libro</button>
</div> 
-->

<div class="inline">Clicca su un libro per modificare.</div>
<div class="btn inline">
  <button mat-raised-button color="primary" routerLink="/new-book">Aggiungi Libro</button>
</div>
<br>
<br>
<br>
<app-libro *ngFor="let book of myBooks" [libro]="book"></app-libro>