<h2>Contatta Proprietario</h2>
<mat-divider class="spaziatore"></mat-divider>
<br>

<!--
<div>
  <p>Libro:</p>
  <app-libro [libro]="libro"></app-libro>
</div>
<form class="width">
  <mat-form-field class="width">
      <textarea matInput placeholder="Testo"></textarea>
  </mat-form-field>
</form>
<p class="alert">Ricordati di lasciare un tuo contatto nel testo, altrimenti il proprietario non riuscirà a risponderti!</p>
<div class="btn">
  <button mat-raised-button color="primary" routerLink="/">Annulla</button>
  <button mat-raised-button color="primary">Invio</button>
</div>
--> 